In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [3]:
dframe1 = DataFrame({'key':['X','Z','Y','Z','X','X'],'data_set_1': np.arange(6)})
dframe1

   data_set_1 key
0           0   X
1           1   Z
2           2   Y
3           3   Z
4           4   X
5           5   X

In [4]:
dframe2 = DataFrame({'key':['Q','Y','Z'],'data_set_2':[1,2,3]})