In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index = ['A','B', 'C', 'D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [5]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)
#新しいindexに割当

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [8]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])

In [9]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [26]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -0.126350 -2.343508 -2.969451  0.813941 -0.376865
B -0.836742 -0.629483  0.074994  0.372126 -0.471615
D -1.045459 -1.250933  0.586662 -0.624556 -1.535060
E  1.099934  0.319756  0.874439  0.761562 -0.029888
F -1.118501 -1.048302 -1.328972  0.533945  0.809876

In [23]:
new_index = ['A','B','C','D','E','F']
dframe2 =dframe.reindex(new_index)
dframe2

       col1      col2      col3      col4      col5
A  1.515442  1.123219  0.319405 -1.245300  0.920067
B  0.512332 -0.911041  0.727112  0.833998  0.714829
C       NaN       NaN       NaN       NaN       NaN
D  0.247604 -0.791098  0.343138  0.129202  0.519328
E -0.380190  0.141340 -0.085701 -1.020929 -0.521092
F  0.095626 -1.110709  0.501854  0.062358 -1.626385

In [24]:
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  1.515442  1.123219  0.319405 -1.245300  0.920067   NaN
B  0.512332 -0.911041  0.727112  0.833998  0.714829   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.247604 -0.791098  0.343138  0.129202  0.519328   NaN
E -0.380190  0.141340 -0.085701 -1.020929 -0.521092   NaN
F  0.095626 -1.110709  0.501854  0.062358 -1.626385   NaN

In [27]:
dframe

       col1      col2      col3      col4      col5
A -0.126350 -2.343508 -2.969451  0.813941 -0.376865
B -0.836742 -0.629483  0.074994  0.372126 -0.471615
D -1.045459 -1.250933  0.586662 -0.624556 -1.535060
E  1.099934  0.319756  0.874439  0.761562 -0.029888
F -1.118501 -1.048302 -1.328972  0.533945  0.809876

In [29]:
dframe.ix[new_index,new_columns]

       col1      col2      col3      col4      col5  col6
A -0.126350 -2.343508 -2.969451  0.813941 -0.376865   NaN
B -0.836742 -0.629483  0.074994  0.372126 -0.471615   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.045459 -1.250933  0.586662 -0.624556 -1.535060   NaN
E  1.099934  0.319756  0.874439  0.761562 -0.029888   NaN
F -1.118501 -1.048302 -1.328972  0.533945  0.809876   NaN