In [7]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [9]:
ser1=Series(np.arange(3),index=['a','b','c'])
ser1

a    0
b    1
c    2
dtype: int64

In [10]:
ser1.drop('b')

a    0
c    2
dtype: int64

In [11]:
dframe1=DataFrame(np.arange(9).reshape((3,3)),index=['SF','LA','NY'],columns=['pop','size','year'])
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [15]:
dframe1.drop('LA')

    pop  size  year
SF    0     1     2
NY    6     7     8

In [17]:
dframe1.drop('year')

ValueError: labels ['year'] not contained in axis

In [18]:
dframe1.drop('year', axis=1)

    pop  size
SF    0     1
LA    3     4
NY    6     7